
# Ignore everything
/*

# Except:

# Sync some raw data
!data-raw/temp-newnames.csv

# Key cleaning scripts
!/DataCleaningScripts/
DataCleaningScripts/*
!DataCleaningScripts/ScrapeMerge.R
!DataCleaningScripts/fixes_precleaning.R
!DataCleaningScripts/fixes_postcleaning.R
!DataCleaningScripts/fixes_postmerge.R
!DataCleaningScripts/pursuit_coding.R
!DataCleaningScripts/scrapeMPV.R

# Key analysis scripts
!/Analyses/
Analyses/*
!Analyses/WAsince940.Rmd
!Analyses/WAsince2015.Rmd
!Analyses/USpercapitaTrends.Rmd
!Analyses/Common/

# Create empty folder for storing script outputs
/data-outputs/*
!data-outputs/
