.Rproj.user
.Rhistory
.RData
.Ruserdata

Downloads/
data-outputs/
data-raw/

# Only some scripts are synced
DataCleaningScripts/*
!DataCleaningScripts/ScrapeMerge.R
!DataCleaningScripts/fixes.R
!DataCleaningScripts/StateCensusData.R

# Only some analysis files are synced
Analyses/*
!Analyses/WAsince*.Rmd
!Analyses/USpercapitaTrends.Rmd

